<app-title [title]="title"></app-title>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/-A_uepM5yTg?si=xn23kOsZpGIozyIv"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/6wEmfCS6kyE?si=qNZqIKTPyuVp_1hF"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/1LGvX4SnoWk?si=txfqfaRDBhckLBrQ"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/86BEvUxr1LE?si=OAzyLGn01tuROlOU"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/xp_65BW3h_w?si=QxEucJilK7gHuGEk"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/HwrexEr6LnM?si=776VfCh_ZIIdNCfO"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/B3hW4EMZIp4?si=c3dt_Z4MdKNiIepu"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/TkYJjLArF1M?si=8T3Yl1QHYIirttEp"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/4dM5x7vxrVY?si=aoqR6MHLPBPZ9CZA"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/eeC5salC9LI?si=ZA5Hl-50bJb2WKue"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/uNfRqQgCT48?si=937TQWNpq2GUDKaT"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/-93D9bocJgw?si=5YjYDbO4og9I7gzY"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>