<form [formGroup]="inputForm" (ngSubmit)="submitQuestion()">
    <div class="flex">
        <div class="relative w-full">
            <input type="search" id="search-dropdown" formControlName="question"
                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                placeholder="Search" required />
            <button type="submit" [disabled]="inputForm.invalid || isLoading"
                class="absolute top-[0.5px] end-[0.8px] bottom-[0.8px] p-2.5 btn-main rounded-lg">
                <i class="fa-solid fa-arrow-up w-4 h-4 text-white"></i>
            </button>

        </div>
    </div>
</form>