<app-title [title]="title"></app-title>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/-A_uepM5yTg?si=xn23kOsZpGIozyIv"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/6wEmfCS6kyE?si=qNZqIKTPyuVp_1hF"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/1LGvX4SnoWk?si=txfqfaRDBhckLBrQ"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/86BEvUxr1LE?si=OAzyLGn01tuROlOU"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/xp_65BW3h_w?si=QxEucJilK7gHuGEk"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/HwrexEr6LnM?si=776VfCh_ZIIdNCfO"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/B3hW4EMZIp4?si=c3dt_Z4MdKNiIepu"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/TkYJjLArF1M?si=8T3Yl1QHYIirttEp"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/4dM5x7vxrVY?si=aoqR6MHLPBPZ9CZA"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/eeC5salC9LI?si=ZA5Hl-50bJb2WKue"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/uNfRqQgCT48?si=937TQWNpq2GUDKaT"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/-93D9bocJgw?si=5YjYDbO4og9I7gzY"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/EZET1RuERtQ?si=Y90wO9_ndz28hbMw"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/WNAOXfNk1n8?si=9EYv-NNwS7Hi2mCm"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/vJoPitpZorU?si=mZ4YLPkfW6_32YRt"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/1BZRF4hV4UA?si=FSohC4MITi_0dOJA"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/kozyM5HTYtU?si=_xD7xqFlKAQpHmPQ"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/4anD0eQ2XIc?si=oV2JtLT3j71ORtnP"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/oMn9897J5jQ?si=_fFNXMrV27J5E7YM"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/FmRJykcwFXA?si=oaNw7g4Ddu3dmK3w"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/Tl8dQ27uE7g?si=S3t1Z7SVYpkwovW5"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/Xq4YN6ylZXM?si=nAxBfgGiVcVmfVPs"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/yCBz9n0FBWc?si=k1K4K8JRjbUot2bO"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/899dsxFe9Zo?si=5xjiVJMm8IVukaoJ"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/CmyBTCLLCDw?si=tHVXJCnr00VZ3o-N"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/6qHlMPGNP78?si=vcpoccjc2cisB2Ej"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/dLsA0ZRsmRE?si=E7KPnvQ66Rpt0YEn"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="flex justify-between max-w-screen-lg mx-auto mb-5">
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/oHkt1yihseg?si=tbEj56a5apKVCO71"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/nIQ0aF9WPuc?si=AzpeABPAPzVdYK_D"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="max-w-sm bg-[#ADBCF2] rounded-lg shadow mx-auto ">
        <iframe class="w-full rounded-lg" height="250"
            src="https://www.youtube.com/embed/7iRTXkvDr5s?si=AwSRCS3r_RMfQXXv"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>