<section class="flex flex-col gap-12 justify-between">
    <div class="h-[90vh] flex flex-col items-center justify-center">
        <div class="text-center mx-auto items-center">
            <div class="flex flex-col gap-5 justify-between mb-10">
                <div class="flex gap-1 mx-auto w-fit items-center">
                    <h2 class="text-main font-bold text-3xl">Arabot</h2>
                    <img src="assets/images/title.png" alt="title" />
                </div>
                <h3 class="text-5xl font-bold">
                    Get answers. Find inspiration.<br /> Be more productive.
                </h3>
                <p class="text-2xl w-2/3 mx-auto">Free to use. Easy to try. Just ask and Arabot can help with writing,
                    learning,
                    brainstorming, and
                    more.</p>
                <div class="flex gap-3 mx-auto w-fit items-center">
                    <button routerLink="/chatInArabic" class="w-[200px] btn-main">Chat in Arabic</button>
                    <button routerLink="/explainTopic" class="w-[200px] btn-secondary">Explain Topic</button>
                </div>
            </div>
        </div>
    </div>

    <div class="w-4/5 mx-auto">
        <app-overview-slider></app-overview-slider>
    </div>

    <div class="flex flex-col gap-3 justify-between my-5 text-center">
        <h4 class=" font-bold text-4xl">Learning Arabic is now easy!</h4>
        <p class="text-2xl w-3/4 mx-auto">Learning Arabic is more accessible now than ever before. With advancements in
            technology and the globalized nature of education, people from all over the world are seeking ways to learn
            Arabic, a language spoken by over 420 million people globally. An Arabic language learning app provides the
            perfect tool for learners to engage in self-paced, interactive, and immersive experiences from the
            convenience of their smartphones or computers.
        </p>
    </div>

    <div class="flex gap-3 justify-between my-5 text-center w-4/5 mx-auto">

        <div class="flex flex-col gap-3 justify-between p-5 bg-[#C3CEF6] rounded-xl">
            <img src="assets/images/miniMuslim.png" class="w-52 m-auto" alt="mini Muslim image">
            <h3 class="font-bold text-2xl">Arabic for Teens & Adults</h3>
            <p class="text-xl">Provide a rich learning experience for teens and adults interested in mastering Arabic,
                with a particular focus on Quranic Arabic and Stories of the Prophets.</p>
        </div>
        <div class="flex flex-col gap-3 justify-between p-5 bg-[#8099EC] rounded-xl">
            <img src="assets/images/ToolForteachers.png" class="w-52 m-auto" alt="Tool For teachers image">
            <h3 class="font-bold text-2xl">A tool for teachers and students</h3>
            <p class="text-xl">wide range of features aimed at enhancing the teaching experience and streamlining
                student learning through interactive, engaging methods</p>
        </div>
    </div>
    <app-footer></app-footer>
</section>