<app-title [title]="title" [desc]="desc"></app-title>
<div class="flex justify-between max-w-screen-lg mx-auto px-5">
    <app-card-item [title]="'Alphabets'" [img]="'assets/icons/alphabets.png'"></app-card-item>
    <app-card-item [title]="'Numbers'" [img]="'assets/icons/numbers.png'"></app-card-item>
    <app-card-item [title]="'Animals'" [img]="'assets/icons/animals.png'"></app-card-item>
</div>
<div class="flex justify-between max-w-screen-lg mx-auto px-5">
    <app-card-item [title]="'Fruits and vegetables'" [img]="'assets/icons/Fruits and vegetables.png'"></app-card-item>
    <app-card-item [title]="'Colors'" [img]="'assets/icons/Colors.png'"></app-card-item>
    <app-card-item [title]="'Family Members'" [img]="'assets/icons/Family Members.png'"></app-card-item>
</div>
<div class="flex justify-between max-w-screen-lg mx-auto px-5">
    <app-card-item [title]="'Planet Names'" [img]="'assets/icons/Planet Names.png'"></app-card-item>
    <app-card-item [title]="'Shapes'" [img]="'assets/icons/Shapes.png'"></app-card-item>
    <app-card-item [title]="'House, kitchen, School'" [img]="'assets/icons/House, kitchen, School.png'"></app-card-item>
</div>
<div class="flex justify-between max-w-screen-lg mx-auto px-5">
    <app-card-item [title]="'Facial Expressions'" [img]="'assets/icons/Facial Expressions.png'"></app-card-item>
    <app-card-item [title]="'Time'" [img]="'assets/icons/Time.png'"></app-card-item>
    <app-card-item [title]="'Weekdays and Months'" [img]="'assets/icons/Weekdays and Months.png'"></app-card-item>
</div>