<div class="my-14">
    <app-title [title]="title" [desc]="desc"></app-title>
    <div class="flex justify-between max-w-screen-lg mx-auto px-5">
        <app-card-item [title]="'Alphabets'" [img]="'assets/icons/alphabets.png'"
            routerLink="/alphabets"></app-card-item>
        <app-card-item [title]="'Numbers'" [img]="'assets/icons/numbers.png'" routerLink="/numbers"></app-card-item>
        <app-card-item [title]="'Animals'" [img]="'assets/icons/animals.png'" routerLink="/animals"></app-card-item>
    </div>
    <div class="flex justify-between max-w-screen-lg mx-auto px-5">
        <app-card-item [title]="'Fruits and vegetables'" [img]="'assets/icons/Fruits and vegetables.png'"
            routerLink="/Fruitsandvegetables"></app-card-item>
        <app-card-item [title]="'Colors'" [img]="'assets/icons/Colors.png'" routerLink="/Colors"></app-card-item>
        <app-card-item [title]="'Family Members'" [img]="'assets/icons/Family Members.png'"
            routerLink="/FamilyMembers"></app-card-item>
    </div>
    <div class="flex justify-between max-w-screen-lg mx-auto px-5">
        <app-card-item [title]="'Planet Names'" [img]="'assets/icons/Planet Names.png'"
            routerLink="/PlanetNames"></app-card-item>
        <app-card-item [title]="'Shapes'" [img]="'assets/icons/Shapes.png'" routerLink="/Shapes"></app-card-item>
        <app-card-item [title]="'House, kitchen, School'" [img]="'assets/icons/House, kitchen, School.png'"
            routerLink="/HousekitchenSchool"></app-card-item>
    </div>
    <div class="flex justify-between max-w-screen-lg mx-auto px-5">
        <app-card-item [title]="'Facial Expressions'" [img]="'assets/icons/Facial Expressions.png'"
            routerLink="/FacialExpressions"></app-card-item>
        <app-card-item [title]="'Time'" [img]="'assets/icons/Time.png'" routerLink="/Time"></app-card-item>
        <app-card-item [title]="'Weekdays and Months'" [img]="'assets/icons/Weekdays and Months.png'"
            routerLink="/WeekdaysandMonths"></app-card-item>
    </div>
</div>