<div class="my-14">
    <app-title [title]="title" [desc]="desc"></app-title>

    <div class="flex justify-between max-w-screen-lg mx-auto px-5">
        <app-card-item [title]="'Parsing in Arabic'" [img]="'assets/icons/Parsing in Arabic.png'"
            routerLink="/ParsingInArabic"></app-card-item>
        <app-card-item [title]="'Sentence Structure'" [img]="'assets/icons/Sentence Structure.png'"
            routerLink="/SentenceStructure"></app-card-item>
        <app-card-item [title]="'Grammar in Arabic'" [img]="'assets/icons/Grammar in Arabic.png'"
            routerLink="/GrammarInArabic"></app-card-item>
    </div>
</div>