<div class="flex flex-col gap-5 justify-between my-14">
    <div class="mb-10">
        <div class="flex gap-1 mx-auto w-fit items-center mb-10">
            <h2 class="text-main font-bold text-3xl">Arabot</h2>
            <img src="assets/images/title.png" alt="title" />
        </div>
        <div class="flex gap-3 justify-between my-5 text-center w-4/5 mx-auto">
            <div routerLink="/arabicForKids"
                class="card flex flex-col gap-1 justify-between p-5 bg-[#ADBCF2] rounded-xl w-[300px]">
                <i class="fa-solid fa-font text-8xl text-[#F4F4F4]"></i>
                <h3 class="font-bold text-2xl">Arabic For Kids</h3>
                <p class="text-xl">Know about Arabic alphabets and words</p>
            </div>
            <div routerLink="/learnArabic"
                class="card flex flex-col gap-1 justify-between p-5 bg-[#8099EC] rounded-xl w-[300px]">
                <i class="fa-brands fa-leanpub text-8xl text-[#D1C2F4]"></i>
                <h3 class="font-bold text-2xl">Learn Arabic</h3>
                <p class="text-xl">Explanation of the Arabic learning Curriculum</p>
            </div>
            <div routerLink="/chatWithYourBook"
                class="card flex flex-col gap-1 justify-between p-5 bg-[#E1E8FF] rounded-xl w-[300px]">
                <i class="fa-solid fa-book text-8xl text-[#4A7EFB]"></i>
                <h3 class="font-bold text-2xl">Chat with your Book</h3>
                <p class="text-xl">Ask about a specific book of your choice</p>
            </div>
            <div routerLink="/miniMuslim"
                class="card flex flex-col gap-1 justify-between p-5 bg-[#C3CEF6] rounded-xl w-[300px]">
                <img src="assets/images/miniMuslim2.svg" class="w-32 m-auto" alt="Mini Muslim image">
                <h3 class="font-bold text-2xl">Mini Muslim</h3>
                <p class="text-xl">Amazing Adventure</p>
            </div>
        </div>
    </div>
    <div class="my-5 w-4/5 mx-auto">
        <app-chatbot-input></app-chatbot-input>
    </div>


</div>